<server description="new server">

	<featureManager>
		<feature>cdi-2.0</feature>
		<feature>servlet-4.0</feature>
		<feature>jdbc-4.3</feature>
		<feature>jndi-1.0</feature>
		<feature>monitor-1.0</feature>
	</featureManager>

	<httpEndpoint httpPort="9080" id="defaultHttpEndpoint" host="*"/>

	<jdbcDriver id="db2" libraryRef="db2Lib"/>

	<library id="db2Lib">
		<fileset dir="${server.config.dir}" includes="db2jcc4.jar"/>
	</library>

	<dataSource id="ds" jndiName="jdbc/SampleDS" jdbcDriverRef="db2">
		<properties.db2.jcc databaseName="shiftjisdb" serverName="localhost" portNumber="50000" user="db2inst1" password="mypassword"/>
	</dataSource>
</server>